@model Business.Presentation.DoctorVM

@{
    ViewData["Title"] = "GetDoctor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Doctor Details</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.MobileNumber)
            </td>
            <td>
                @Html.ActionLink("MyAppointments", "MyAppointments","Doctor" ,new { id = Model.Id })

            </td>
        </tr>
    </tbody>
</table>
